body {
  font-family: 'Raleway', sans-serif;
}

img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/connect.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.landing-btn {
  margin: 20px 10px 10px 10px;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 3px;
}

.landing-btn__signup {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  box-shadow: none;
}

.features-icons {
  padding: 60px 0;
}

.features-icons-icon i {
  font-size: 50px;
}

.features-icons-icon i:before {
  color:#000 ;
}